# Python Artifacts
__pycache__/
*.pyc
venv/
.venv/
.DS_Store
.idea

# Secrets
.env

# Data (Keep repo light!)
data/
products/
*.gz
*.csv
*.xml
*.ndjson

# But do not ignore the sample-data directory inside it
!data/sample-data/
